.detailsContainer{
    display:flex;
    
}
.courseContainer{
    width: 500px;
    margin-right: 150px;
    margin-left: 200px;
    border-right: 1px solid lightgray;
    
    text-align: center;
    border-left: 1px solid lightgray;
}
.cartContainer{
    margin-top:35px;
    text-align: center;



}
